html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

button:hover {
  cursor: pointer;
}

body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif, Arial;
  font-size: 19px;
  line-height: 1.3;
}

a,
li,
p,
span {
  margin: 0;
}

p {
  display: block;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

hr {
  border: none;
  background-color: rgba(0,0,0,0.1);
  height: 1px;
}

h1 {
  font-family: serif;
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-size: 4rem;
  font-weight: bolder;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-family: serif;
  font-size: 3rem;
  font-weight: lighter;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

h3 {
  font-family: serif;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-top: 4rem;
}

h4 {
  font-family: serif;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-top: 3rem;
}

h5,
h6 {
  margin: 0;
  font-size: 2.2em;
  font-weight: 400;
}

p {
  margin-bottom: 0.5rem;
}

.header-container {
  margin: 0 auto;
  max-width: 750px;
  width: 80%;
  padding: 20px;
}

.text-center {
  text-align: center;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 0px;
}

.flex-buttons {
  display: flex;
  justify-content: center;
}
.btn {
  margin: 0px 5px 5px;
}

.bg-dark {
  background: #916792;
  color: rgb(238, 238, 238);
}

.bg-light {
  background: #dca0dd;
  color: #916792;
}