#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}



.results {
  opacity: 0;
  padding: 5px;
  border: 1px solid black;
  font-size: 1.2rem;
}

.clicked {
  opacity: 1;
}

.first-input {
  margin-bottom: 1rem;
}

.anagram-submit-button {
  margin-top: 1rem;
}

span {
  font-size: 1.5rem;
}